@tailwind base;
@tailwind components;
@tailwind utilities;
.mobile-item {
  @apply block w-full text-left px-3 py-2 text-gray-300 hover:text-yellow-400 hover:bg-gray-900 rounded-md transition-colors;
}
